body {
  background-color: #D3D3D3;
  color: black;
}
p {
  font-size: 80px;
  color:#6FDC6F;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  font-size: 40px;
  color: white;
  text-decoration: none;
  text-align: center;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  font-family: bold;
  background-color: silver;
  float: left;
  text-decoration: none;
}

h3 {
  color: white;
  font-size: 35px;
}

li:last-child {
    border-right: none;
}

h1 { 
  color: white;
  font-family: serif;
}
  
}
table, tr, td {
    border: 1px solid black;
}


}
tr, td {
    padding: 15px;
}
     
     
     table {
    border-spacing: 3px;
}
     
     table {
    width: 100%; 
    background-color: #f1f1c1;
}

h2 {
  text-align: center;
  color: white;
}
.image1 {
  position: absolute;
    left: 0px;
    bottom: 0px;
  border-radius: 5px;
}

.image3 {
  float: right;
  border-radius: 5px;
}
