body {
  background-color: #1E3D1E;
  color: black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  font-size: 35px;
  color: white;
}

li {
    float: left;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
  font-family: monospace;
  background-color: white;
}

h3 {
  color: #6FDC6F;
}

li {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}



li:last-child {
    border-right: none;
}

h1 { 
  color: #6FDC6F;
}
     
img {
 position: absolute;
left: 0px;
bottom: 0px;
  
}
table, tr, td {
    border: 1px solid black;
}


}
tr, td {
    padding: 15px;
}
     
     
     table {
    border-spacing: 3px;
}
     
     table {
    width: 100%; 
    background-color: #f1f1c1;
}

h2 {
  text-align: center;
  color: #6FDC6F;
