body {
     width 960px; 
     padding; 100px;
     margin: 0px;
     font-family: Calibri;
}

h1 {
     display: block;
     font-size: 2em;
     text-align: center;
     font-weight: bold; 
     
     
